@import url('./app.css');

.w-100 {
    width: 100%;
}

.mb-6px {
    margin-bottom: 6px;
}

.mb-8px {
    margin-bottom: 8px;
}

.mb-10px {
    margin-bottom: 10px;
}

.mb-14px {
    margin-bottom: 14px;
}

.mb-16px {
    margin-bottom: 16px;
}

.mr-2px {
    margin-right: 2px;
}

.text-primary {
    color: var(--primary);
}

.tt-capitalize {
    text-transform: capitalize;
}

.tt-uppercase {
    text-transform: uppercase;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
}

.content .card {
    display: flex;
    height: 85%;
    width: 90%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.521);
    box-sizing: border-box;
}

.content .card .info-1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    background:  rgba(var(--primary-rgb), 0.9);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-sizing: border-box;
}

.content .card .info-1 img {
    height: auto;
    width: 7em;
}

.content .card .info-1 .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}

.content .card .info-1 .information h1 {
    margin-top: -50px;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.content .card .info-1 .information p {
    text-align: center;
    font-size: 1.1em;
    padding: 0.5em 0px 1.5em 0px;
    color: white;
}

.content .card .info-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 70%;
    background: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-sizing: border-box;
}

.content .card .info-2 .form {
    height: 100%;
    width: 100%;
    max-height: 650px;
    max-width: 600px;
    padding-top: 5em;
}

.content .card .info-2 .form h1 {
    font-size: 2em;
    text-align: center;
}

.content .card .info-2 .form p {
    padding: 5px 0px 40px 0px;
    font-size: 1em;
    font-weight: bold;
    color: var(--text-grey);
    text-align: center;
}

.form-input {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--input);
    border-radius: 10px;
    padding: 0px 14px 0px 14px;
    box-sizing: border-box;
}

.form-input svg {
    color: var(--text-grey);
    font-size: 1em;
}

.form-input input {
    width: 100%;
    font-size: 1em;
    padding: 1em 0 1em 1em;
    background: transparent;
    border: none;
    border-radius: 10px;
}

.form-input input:focus {
    outline: none;
}

.btn {
    padding: 0.9em;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    background: #f7f7f7;
    box-sizing: border-box;
}

.btn:hover {
    color: white;    
    background: #1766ab;
}

.btn-primary {
    color: white;
    background: var(--primary);
}

.btn-primary:hover {
    color: white;    
    background: var(--primary-hover);
}

.btn-r-primary {
    color: white;
    background: var(--primary);
    border: 1px solid white; 
}

.btn-r-primary:hover {
    color: var(--primary);
    background: white;
}

.btn-r-transparent {
    color: white;
    background: transparent;
    border: 1px solid white; 
}

.btn-r-transparent:hover {
    color: var(--primary);
    background: white;
}

@media only screen and (max-width: 1200px) {
    .content {
        align-items: normal;
        padding-top: 2em;
        box-sizing: border-box;
    }
    
    .content .card {
        position: fixed;
        flex-direction: column;
        height: auto;
    }

    .content .card .info-1 {
        width: 100%;
        height: auto;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
    }

    .content .card .info-1 .information {
        padding-top: 4em;
    }

    .content .card .info-1 .logo {
        text-align: center;
    }

    .content .card .info-2 {
        width: 100%;
        height: auto;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 30px;
    }

    .content .card .info-2 .form {
        padding-top: 0px;
    }
}