@import 'app.module';

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;

    .card {
        display: flex;
        height: 85%;
        width: 90%;
        border-radius: 30px;
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.521);
        box-sizing: border-box;

        .info-1 {
            display: flex;
            flex-direction: column;
            width: 30%;
            padding: 20px;
            background:  rgba($primary, 0.9); 
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            box-sizing: border-box;

            img {
                height: auto;
                width: 7em;
            }

            .information {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                text-align: center;
                box-sizing: border-box;

                h1 {
                    margin-top: -50px;
                    font-size: 2em;
                    font-weight: bold;
                    color: white;
                }

                p {
                    text-align: center;
                    font-size: 1.1em;
                    padding: 0.5em 0px 1.5em 0px;
                    color: white;
                }
            }
        }

        .info-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px;
            width: 70%;
            background: white;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            box-sizing: border-box;

            .form {
                height: 100%;
                width: 100%;
                max-height: 650px;
                max-width: 600px;

                h1 {
                    font-size: 2em;
                    text-align: center;
                }

                p {
                    margin-bottom: 2em;
                    font-size: 1em;
                    font-weight: 600;
                    color: $grey; 
                    text-align: center;
                }
            }
        }
    }
}

.btn {
    padding: 0.9em;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    background: #f7f7f7;
    box-sizing: border-box;
    box-shadow: none;

    &:hover {
        color: white;
        background: #1766ab;
    }

    &:disabled {
        cursor: default;
        background: $primary-disabled;

        &:hover {
            background: $primary-disabled;
        }
    }

    &-primary {
        color: white;
        background: $primary; 

        &:hover {
            color: white;
            background: $primary-hover; 
        }
    }

    &-r-primary {
        color: white;
        background: $primary; 
        border: 1px solid white;

        &:hover {
            color: $primary; 
            background: white;
        }
    }

    &-r-transparent {
        color: white;
        background: transparent;
        border: 1px solid white;

        &:hover {
            color: $primary; 
            background: white;
        }
    }
}

.alert {
    padding: 1.5em 1.3em 1.5em 1.3em;
    border-radius: 10px;
    margin-bottom: 2.2em;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 500ms ease;

    &.show {
        opacity: 1;
    }

    &.hide {
        opacity: 0;
        pointer-events: none;
    }

    &.danger {
        background-color: $danger;
        color: white;
    } 
    
    &.primary {
        background-color: $primary;
        color: white;
    } 

    .title {
        font-size: 1.2em;

        span{
            font-weight: bold;
        }

        .btn-close {
            float: right;
            cursor: pointer;
            color: #ffffff;
        }
    }

    .body {
        font-size: 1em;
    }
}

@media (max-width: 1200px) {
    .content {
        align-items: normal;
        padding-top: 2em;
        box-sizing: border-box;

        .card {
            position: fixed;
            flex-direction: column;
            height: auto;

            .info-1 {
                width: 100%;
                height: auto;
                border-top-right-radius: 30px;
                border-bottom-left-radius: 0px;

                .information {
                    padding-top: 4em;
                }
            }

            .info-2 {
                width: 100%;
                height: auto;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 30px;

                .form {
                    padding-top: 0px;
                }
            }
        }
    }
}
