@import 'app.module';

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .header {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em;
        gap: 0.4em;
        width: 100%;
        height: $header-height;
        background: $primary;  
        z-index: 2;
        box-sizing: border-box;

        .logo {
            width: 4em;
            height: 100%;
            padding-left: 1em;

            .img {
                width: 100%;
                height: 100%;
                background-image: url('../img/logo-white.svg');
                background-repeat: no-repeat;
            }
        }

        .user {
            cursor: pointer;
            height: 100%;
            padding: 0.5em 0.5em 0.5em 1em;
            margin-right: 0.7em;
            border-radius: 8px;
            box-sizing: border-box;
            width: 12em;

            &:hover {
                background: $dark;
                box-shadow: 0px 0px 10px 1px rgba($dark, 0.6);

                .info .img svg {
                    color: $dark;
                }
            }

            .info {
                display: flex;
                align-items: center;
                gap: 0.5em;

                .name {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 0.95em;
                    font-weight: bold;
                    color: white;
                }

                .img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    background-color: white;
                    padding: 0.5em;
                    box-sizing: border-box;

                    svg {
                        color: $primary;
                        font-size: 1em;
                    }
                }
            }
        }
    }

    .main-content {
        display: flex;
        width: 100%;
        height: 100%;

        .navbar {
            position: fixed;
            width: $navbar-width;
            height: 100%;
            background: $dark-1;
            padding-top: $header-height;
            transition: transform 400ms ease;
            //box-shadow: 0 0 6px rgba($dark, 0.8);
            z-index: 1;

            ul {
                padding: 1em;
                list-style: none;

                li.separator {
                    margin-top: 10px;
                    padding: 0.7em 0.8em 0.2em 0.5em;
                    color: white;
                    font-size: 0.7em;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                li a {
                    display: flex;
                    align-items: baseline;
                    gap: 0.7em;
                    width: 100%;
                    padding: 0.7em 0.8em 0.6em 0.8em;
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    font-size: 1em;
                    border-radius: 8px;
                    box-sizing: border-box;

                    &:hover {
                        background: $primary;
                    }
                }
            }
        }

        .main {            
            display: flex;
            flex-direction: column;
            width: 100%;
            z-index: 0;

            .view {
                position: relative;
                height: 100%;
                padding: $header-height 0 0 $navbar-width;
                background: $bg;
                overflow-x: hidden;
                transition: padding-left 400ms ease;
                box-sizing: border-box;
                
                .header {
                    position: fixed;
                    display: flex;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    width: calc(100% - $navbar-width);
                    background: white;
                    padding: 0 1.2em 0 1.2em;
                    box-shadow: 0 0 6px rgba($dark, 0.3);
                    box-sizing: border-box;

                    div {
                        h1 {
                            font-size: 1.4em;
                        }

                        p {
                            color: $dark;
                            font-size: 0.9em;
                            font-weight: 600;
                        }
                    }

                    ul {
                        display: flex;
                        list-style: none;
                        gap: 0.4em;
                        cursor: default;

                        li {
                            font-size: 0.8em;
                            font-weight: bold;
                            text-transform: uppercase;

                            &.active {
                                color: $primary-hover;
                            }
                        }
                    }
                }

                .row-main {
                    padding: calc($header-height + 0.5em) 1.2em 0.5em 1.2em;
                    overflow-x: auto;
                    box-sizing: border-box;
                }
            }

            .footer {
                display: flex;
                align-items: center;
                height: $header-height;
                background: $dark;
                padding-left: calc($navbar-width + 1.5em);
                box-sizing: border-box;

                p {
                    font-size: 0.85em;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .content {          
        .main-content {   
            .navbar {
                transform: translateX(calc($navbar-width * -1));
            }

            .main {            
                .view {
                    padding: $header-height 0 0 0;

                    .header {
                        width: 100%;
                    }
                }
            }
        }
    }
}